
<div class="container-fluid">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-body-secondary">&copy; 2024 Postify, Inc</p>
  
      <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img src="https://cdn.iconscout.com/icon/free/png-512/free-blog-icon-download-in-svg-png-gif-file-formats--user-interface-16px-pack-icons-438894.png?f=webp&w=256" alt="Bootstrap" width="30" height="30">

      </a>
  
      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="#" class="nav-link px-2 mx-2 text-body">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 mx-2 text-body">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 mx-2 text-body">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 mx-2 text-body">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 mx-2 text-body">About</a></li>
      </ul>
    </footer>
  </div>