<header class="p-3 border-bottom bg-info-subtle">
    <div class="container-fluid d-flex  flex-wrap align-items-center ">
      <!-- <div class=""> -->

          <a class="navbar-brand me-5" href="/home">
            <!-- <img src="https://github.com/mdo.png" alt="Bootstrap" width="30" height="24"> -->
        <img src="https://cdn.iconscout.com/icon/free/png-512/free-blog-icon-download-in-svg-png-gif-file-formats--user-interface-16px-pack-icons-438894.png?f=webp&w=256" class="mb-1" alt="Postify" width="30" height="30">
        <b class="fs-3 fst-italic">Postify</b>
          </a>
      
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/home" class="nav-link px-2 link-body-emphasis mx-1">Home</a></li>
          <li><a href="/blogs/create" class="nav-link px-2 link-body-emphasis mx-2">Create</a></li>
          <li><a href="/blogs" class="nav-link px-2 link-body-emphasis mx-2">Blogs</a></li>
          <li><a href="/about" class="nav-link px-2 link-body-emphasis mx-2">About</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>

        <div class="dropdown text-end">
          <% if (locals.userData) { %>
            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <img src=<%= userData.profileImg %> alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
          <% } else{ %>
            <div>
              <a href="/api/signup"><button type="button" class="btn btn-outline-info me-2 text-black">Signup</button></a>
              <a href="/api/login"><button type="button" class="btn btn-info">Login</button></a>
            </div>
          <% } %>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/api/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>