<!DOCTYPE html>
<html lang="en">
<head>
    <title>Postify - Home</title>
    <%- include('./partials/head/') %>
</head>
<body>

    <%- include('./partials/navbar.ejs') %>
    <div class="container mt-4">
        <h1 class="text-center">Postify - Homepage</h1>
    </div>
    <%- include('./partials/script.ejs') %>
</body>
</html>