<!DOCTYPE html>
<html lang="en">

<head>
    <title>Postify - Home</title>
    <%- include('./partials/head/') %>
</head>

<body>

    <%- include('./partials/navbar.ejs') %>
        <div class="container-fluid  bg-secondary-subtle">
            <div class="container rounded-subtle p-5 d-flex flex-column justify-content-between">

                <div class="d-flex flex-column text-center justify-content-center">
                    <h1 class="fs-1 fst-italic">Postify - Homepage</h1>
                    <p class=" mt-3">Postify is a simple, intuitive blogging web app that lets you easily create, edit,
                        and publish blog posts. With customizable themes and a user-friendly interface, Postify makes
                        sharing your content effortless.</p>
                    <button type="button" class="btn btn-primary w-md-50 w-50 mx-auto mb-4">Start a Blog</button>
                </div>



                <div>
                    <img src="https://www.searchenginejournal.com/wp-content/uploads/2020/08/7-ways-a-blog-can-help-your-business-right-now-5f3c06b9eb24e-1280x720.png"
                        class="img-fluid me-4 rounded object-fit-cover" alt="Postify">
                </div>

            </div>
        </div>

        <div class="container my-5 d-flex flex-column flex-md-row">
            <div class="d-flex flex-column justify-content-center">
                <h1>Simple, meet flexible.</h1>
                <p class="">
                    Whatever you’re publishing. Whoever your audience is. <i>Postify</i> makes it simple to get started.
                    And easy to expand your site as your audience grows.
                </p>
            </div>

            <div>
                <img src="https://wpcom.files.wordpress.com/2022/12/create-blog-window-camera.jpg" alt=""
                    class="img-fluid rounded">
            </div>
        </div>

        <hr class="w-75 mx-auto">









        <div class="container-fluid">

            <div class="p-5">
                <h1>See and be seen.</h1>
                <p>You made it. Now it’s time to get it in front of people. With baked in SEO tools, a bustling community, one-click social links, and a bunch of easy ways to get paid, you’re all set.</p>
            </div>

            <div class="row row-cols-1 row-cols-md-2 g-4 p-2 bg-info-subtle">
                
                <div class="col">
                    <div class="card border-0 bg-info-subtle">
                        <img src="https://cdn.iconscout.com/icon/free/png-512/free-seo-icon-download-in-svg-png-gif-file-formats--web-tag-label-search-development-vol-2-pack-icons-7255.png?f=webp&w=256"
                            height="50" width="55" class="mx-4 mt-3" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">SEO, to go</h5>
                            <p class="card-text">Get found faster thanks to built-in search engine optimization tools. Clean URLs, automatic sitemaps, and custom titles and descriptions help put your blog at the top of the stack in search results.</p>
                        </div>
                    </div>
                </div>


                <div class="col ">
                    <div class="card border-0 bg-info-subtle">
                        <img src="https://cdn.iconscout.com/icon/premium/png-512-thumb/seo-training-2525457-2117010.png?f=webp&w=256"
                            height="50" width="55" class="mx-4 mt-3" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Find your audience</h5>
                            <p class="card-text">Say hello to a huge community of bloggers, creators, and avid readers, every time you publish. postify.com’s built-in Reader means millions of people can easily find, follow, and share your blog.</p>
                        </div>
                    </div>
                </div>



                <div class="col ">
                    <div class="card border-0 bg-info-subtle">
                        <img src="https://cdn.iconscout.com/icon/free/png-512/free-airplane-icon-download-in-svg-png-gif-file-formats--delivery-email-mail-paper-ui-essence-pack-user-interface-icons-267542.png?f=webp&w=256"
                            height="50" width="55" class="mx-4 mt-3" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Take it social</h5>
                            <p class="card-text">Put the word out on social media with no extra work. Set up automatic social updates once. Then leave it to WordPress.com to update Facebook, Tumblr, and LinkedIn every time you hit publish.</p>
                        </div>
                    </div>
                </div>



                <div class="col ">
                    <div class="card border-0 bg-info-subtle">
                        <img src="https://cdn.iconscout.com/icon/premium/png-512-thumb/earnings-3-495572.png?f=webp&w=256"
                            height="50" width="55" class="mx-4 mt-3" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Get paid for what you made</h5>
                            <p class="card-text">Let your audience support your hard work with built-in monetization tools. From shipping out merch to selling downloadable content, taking donations to offering subscriptions and memberships. Everything you need to collect payments is baked right in.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <hr class="w-75 mx-auto">

            <%- include('./partials/footer.ejs') %>
                <%- include('./partials/script.ejs') %>
</body>

</html>